<div class="center top">
  <div class="top_text">
  <h1>Welcome to the Matching App</h1>

  <h2>
    Find your partner, and exchange skills each other.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg" %>
  </div>
</div>
